/* Variables */
:root {
  --primary-color: #0c86a1;
  --secondary-color: #12c2e9;
}
/* Variables */

/* Globals */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 100%;
}

html {
  box-sizing: inherit;
}

body {
  font-family: "Lato", sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}
/* Globals */

/* Default Container */
.container {
  padding-left: 60px;
  padding-right: 60px;
}
/* Default container */

/* Background */
.background {
  background: linear-gradient(
    180deg,
    #12c2e9 36.46%,
    #c471ed 73.44%,
    #f64f59 100%
  );
  position: absolute;
  width: 100%;
  height: 600px;
  z-index: -1;
  object-fit: cover;
  top: -10%;
  transform: skewY(-5deg);
}
/* Background */

/* Grid Structure */
header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr 2fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "nav nav"
    "hero login";
}
/* Grid Structure */

/* Navigation Bar */
nav {
  grid-area: nav;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3.5rem 5.625rem;
  position: fixed;
  width: 100%;
  z-index: 2;
  transition: 0.4s ease;
}

.scroll {
  background-color: #f0f0f0;
}

.scroll li a {
  color: #000;
}

.scroll .logo h2 {
  color: #12c2e9;
}

.scroll .logo img {
  border: 2px solid #12c2e9;
  border-radius: 50%;
}

nav .navbar {
  display: flex;
  width: 35%;
  justify-content: space-between;
  text-transform: uppercase;
}

nav .logo a {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .logo a h2 {
  font-size: 30px;
  font-weight: 900;
  margin-left: 10px;
  color: #fff;
}

nav .logo img {
  width: 80px;
}

.navbar a {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  letter-spacing: 2px;
  transition: 0.3s ease;
}

.navbar a:hover {
  color: #f64f59;
}

/* End of Navigation bar */

/* Hero */
.hero {
  grid-area: hero;
}

.hero-slogan {
  margin-top: -5rem;
  line-height: 50px;
}

.hero-slogan h3 {
  margin: 0 100px;
  width: 80%;
  font-size: 35px;
  color: #fff;
}

.hero-slogan h3:nth-child(2) {
  margin: 0 210px;
}

.hero-slogan h3:nth-child(3) {
  margin: 0 350px;
}

.hero-image img {
  width: 550px;
  height: 350px;
  margin: 0.9375rem 4.6875rem;
}
/* End of Hero */

/* Login Form */
.login-form {
  grid-area: login;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-left: -100px;
}

.login-form .wrapper {
  background-color: #fff;
  width: 25%;
  height: 400px;
  padding: 3.125rem;
  box-shadow: 0px 3px 10px 5px rgba(0, 0, 0, 0.2);
  position: absolute;
}

.login-form .wrapper p {
  font-size: 15px;
  margin-top: 20px;
}

.login-form .wrapper h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.login-form .wrapper form {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 1rem;
}

.login-form .wrapper form input {
  margin: 7px 0;
  height: 30px;
  width: 230px;
  outline: none;
  border: none;
  border-bottom: 2px solid #12c2e9;
  transition: 0.4s ease-in-out;
}

.login-form .wrapper form input:focus {
  padding: 5px;
}

.login-form .wrapper form button {
  padding: 10px 10px;
  width: 100%;
  align-self: flex-end;
  margin: 2.5rem 0;
  border: none;
  outline: none;
  background: linear-gradient(
    to left,
    #12c2e9 36.46%,
    #c471ed 73.44%,
    #f64f59 100%
  );
  border-radius: 50px;
  color: #fff;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  background-size: 250%;
}

.login-form .wrapper form button:hover {
  background-position: 100% 0;
  transition: all 0.4s ease-in-out;
}

.login-form .wrapper form p {
  margin-top: -10px;
  text-align: center;
  font-size: 12px;
}

.wrapper form a {
  margin-left: 0.125rem;
  text-decoration: underline;
}
/* End of Login */

/* About us */
#about {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 200px;
  color: #fff;
}
.about-bg {
  background: var(--secondary-color);
  height: 300vh;
  width: 100%;
  transform: skewY(5deg);
  position: absolute;
  z-index: -1;
  left: 0;
  top: 200px;
}
#about .heading {
  margin: 3rem;
}

#about .heading h2 {
  font-size: 50px;
}

#about .sec1 {
  display: flex;
  margin: 2rem;
}

#about .sec1 .content {
  display: flex;
  align-items: center;
  text-align: center;
}

#about .sec1 .image-content {
  margin: 2rem;
}

#about .sec1 .image-content img {
  width: 500px;
}

#about .sec2 {
  display: flex;
  flex-direction: row-reverse;
  margin: 2rem;
}

#about .sec2 .content {
  display: flex;
  align-items: center;
  text-align: center;
}

#about .sec2 .image-content {
  margin: 2rem;
}

#about .sec2 .image-content img {
  width: 500px;
}

section .content p {
  font-size: 22px;
  padding: 20px;
}
/* End of About */

/* Profiles */
#profiles {
  padding: 90px 30px;
}

.profiles-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profiles-container .image-container img {
  width: 190px;
  height: 190px;
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid var(--primary-color);
}
#profiles .profiles-container .profile-1 {
  background-color: #f0f0f0;
  width: 280px;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 2px 10px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: 0.3s ease-in;
}

#profiles .profiles-container .profile-1:hover {
  transform: scale(1.1);
}

#profiles .profiles-container .profile-1 .profile-content {
  text-align: center;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 3px;
}

#profiles .profiles-container .profile-1 .profile-content p {
  font-size: 13px;
  color: #0000008c;
}

#profiles .profiles-container .profile-1 .profile-content h1 {
  font-size: 22px;
}

#profiles .profiles-container .profile-1 .profile-content .assign {
  font-size: 19px;
}

#profiles .profiles-container .profile-2 {
  background-color: #f0f0f0;
  width: 280px;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 2px 10px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: 0.3s ease-in;
}

#profiles .profiles-container .profile-2:hover {
  transform: scale(1.1);
}

#profiles .profiles-container .profile-2 .profile-content {
  text-align: center;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 3px;
}

#profiles .profiles-container .profile-2 .profile-content p {
  font-size: 13px;
  color: #0000008c;
}

#profiles .profiles-container .profile-2 .profile-content h1 {
  font-size: 22px;
}

#profiles .profiles-container .profile-2 .profile-content .assign {
  font-size: 19px;
}

#profiles .profiles-container .profile-3 {
  background-color: #f0f0f0;
  width: 280px;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 2px 10px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: 0.3s ease-in;
}

#profiles .profiles-container .profile-3:hover {
  transform: scale(1.1);
}

#profiles .profiles-container .profile-3 .profile-content {
  text-align: center;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 3px;
}

#profiles .profiles-container .profile-3 .profile-content p {
  font-size: 13px;
  color: #0000008c;
}

#profiles .profiles-container .profile-3 .profile-content h1 {
  font-size: 22px;
}

#profiles .profiles-container .profile-3 .profile-content .assign {
  font-size: 19px;
}
/* End of profiles */

/* Footer */
footer #footer {
  display: flex;
  position: relative;
}

footer .footer-container {
  display: flex;
  width: 100%;
  height: 50vh;
  justify-content: space-evenly;
  align-items: center;
  background-color: #4a4a4a;
  color: #f0f0f0;
  position: absolute;
  bottom: -345%;
}

footer .footer-container .col1 {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
}

footer .footer-container .col1 h1 {
  font-size: 24px;
}

footer .footer-container .col1 .footer-reach {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 125%;
}

footer .footer-container .col1 .footer-reach .reach {
  margin: 20px;
}

footer .footer-container .col1 .footer-reach .reach p {
  padding-left: 10px;
  transition: 0.4s ease;
  cursor: pointer;
}

footer .footer-container .col1 .footer-reach .reach p:hover {
  color: var(--primary-color);
}

footer .footer-container .col2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 65%;
  flex: 1;
}

footer .footer-container .col2 .logo-container img {
  width: 150px;
}

footer .footer-container .col2 .site-map {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
}
footer .footer-container .col2 .site-map a {
  color: #f0f0f0;
  transition: 0.4s ease;
}

footer .footer-container .col2 .copyright p {
  cursor: pointer;
  transition: 0.4s ease;
}

footer .footer-container .col2 .copyright p:hover {
  color: var(--primary-color);
}

footer .footer-container .col2 .site-map a:hover {
  color: var(--primary-color);
}

footer .footer-container .col3 {
  display: flex;
  flex-direction: column;
  flex: 1;
}

footer .footer-container .col3 h1 {
  font-size: 24px;
}

footer .footer-container .col3 .footer-connect {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
}

footer .footer-container .col3 .footer-connect .socmed {
  margin: 20px;
}

footer .footer-container .col3 .footer-connect .socmed h4 {
  text-align: center;
  margin-top: 10px;
}

footer .footer-container .col3 .footer-connect .socmed a {
  font-size: 30px;
  color: #f0f0f0;
  padding: 5px;
  transition: 0.4s ease;
}

footer .footer-container .col3 .footer-connect .socmed a:hover {
  color: var(--primary-color);
}
